<div class="container">
  <p appBasicHighlight>Styled in a not so good way because something about you shouldn't change properties<br>
  directly on the DOM?</p>
  <p appBetterHighlight>Styled in a better way!<br>
    Here we use the renderer to change the element and not the DOM.<br>
  As well as using a HostListener for mouseenter and mouseleave in <br>
order to change the syle when hovering the element!</p>
  <p appHostBinding>Using HostBinding to access the style.backgroundColor DOM property.<br>
    This works just as well as the one above but uses a bit less code.</p>
  <br>

  <p>hideStructuralDirective is now {{ hideStructuralDirective }}</p>
  <button class="btn btn-primary" (click)="hideStructuralDirective = !hideStructuralDirective">Click me to show a custom structural directive</button>
  <div *appUnless="hideStructuralDirective">
    <p>A structural directive is kind of like a method that you call with a star in angular.<br>
    The most common are *ngIf and *ngFor. Here we have created our own structural directive called *appUnless!
    </p>
  </div>
</div>
